{% extends 'base.html' %}
{% load static %}

{% block section %}
  <a href="{% url 'accounts:signup' %}">회원가입 테스트</a>
  <div class="main">
    <!-- article -->
    <div class="article-body">
      <div class="border article">
        <img src="https://mblogthumb-phinf.pstatic.net/MjAxNzA2MTFfMjc1/MDAxNDk3MTcyMDgyNzEw.ID5RyHWKvsVEW2NS9EQGyRYX7vUaXr7znQeuTrRRmdIg.gK7MD7VhNJPkV4_dueiWer2y-oH7NAAmEklF-6bbYyQg.JPEG.jejubyeol/%EC%97%AC%EB%A6%84%EC%97%90_%EC%A0%9C%EC%A3%BC%EB%8F%84_%EC%82%AC%EC%A7%84%EC%B0%8D%EA%B8%B0_%EC%A2%8B%EC%9D%80%EA%B3%B3.jpg?type=w800">
        <div class="article_icon">
          <div>
            <span class="material-icons-outlined">
              favorite_border
            </span>
            <span class="material-icons-outlined">
              mode_comment
            </span>
            <span class="material-icons-outlined">
              send
            </span>
          </div>
          <div>
            <span class="material-icons-outlined">
              turned_in_not
            </span>
          </div>
        </div>
        <div class="article_like">
          <p class="comment_txt">
            <b>좋아요 10개</b>
          </p>
        </div>
        <div class="article_content">
          <p class="article_txt">더미 텍스트 더미 텍스트 더미 텍스트 더미 텍스트</p>
        </div>
        <div class="comment">
          <span class="comment_txt">
            <b>
              mychew
            </b>
            제주도 가고 싶어요 ㅠㅠ
          </span>
        </div>
      </div>
      <div class="border article">
        <img src="https://www.timeoutdubai.com/cloud/timeoutdubai/2021/09/11/hfpqyV7B-IMG-Dubai-UAE.jpg" alt="">
      </div>
    </div>
    <!-- User -->
    <div class="user-body">
      <div class="user_detail">
        <div class="user_profile">
          <div class="big_profile">
            <img class="profile_img" src="https://ichef.bbci.co.uk/news/640/cpsprodpb/E172/production/_126241775_getty_cats.png">
          </div>
          <div class="user_content">
            <span class="user_detail_txt">
              재재
            </span>
            <span class="user_content_txt">
              KIM jaejae</span>
          </div>
        </div>

        <a class="link_txt">
          정보
        </a>
      </div>

      <div class="recommend_box">
        <span style="color: gray">
          다른 사용자
        </span>
        <span style="font-size: 12px">
          모두 보기
        </span>
      </div>
      <div>
        <div class="user_detail" style="justify-content: space-between">
          <div class="profile_box">
            <img class="profile_img" src="">
          </div>
          <div class="user_content">
            <span class="user_detail_txt">
              더미
            </span>
            <span class="user_content_txt">
              더미 텍스트
            </span>
          </div>
          <a class="link_txt">
            팔로우
          </a>
        </div>
        <div class="user_detail" style="justify-content: space-between">
          <div class="profile_box">
            <img class="profile_img" src="">
          </div>
          <div class="user_content">
            <span class="user_detail_txt">
              더미
            </span>
            <span class="user_content_txt">
              더미 텍스트
            </span>
          </div>
          <a class="link_txt">
            팔로우
          </a>
        </div>
        <div class="user_detail" style="justify-content: space-between">
          <div class="profile_box">
            <img class="profile_img" src="">
          </div>
          <div class="user_content">
            <span class="user_detail_txt">
              더미 텍스트
            </span>
            <span class="user_content_txt">
              더미 텍스트
            </span>
          </div>
          <a class="link_txt">
            팔로우
          </a>
        </div>
        <div class="user_detail" style="justify-content: space-between">
          <div class="profile_box">
            <img class="profile_img" src="">
          </div>
          <div class="user_content">
            <span class="user_detail_txt">
              더미 텍스트
            </span>
            <span class="user_content_txt">
              더미 텍스트
            </span>
          </div>
          <a class="link_txt">
            팔로우
          </a>
        </div>
        <div class="user_detail" style="justify-content: space-between">
          <div class="profile_box">
            <img class="profile_img" src="">
          </div>
          <div class="user_content">
            <span class="user_detail_txt">
              더미 텍스트
            </span>
            <span class="user_content_txt">
              더미 텍스트
            </span>
          </div>
          <a class="link_txt">
            팔로우
          </a>
        </div>
      </div>
    </div>
  {% endblock section %}
